# Ambiente local de desenvolvimento

Neste exercício temos que resolver o problema do [Kaggle](https://www.kaggle.com/c/santander-customer-satisfaction/data) de predizer a probabilidade de um cliente do Santander estar satisfeito.

## Configuração do Ambiente

O primeiro passo é configurar o ambiente com todos os artefatos que iremos usar neste notebook, tais como as bibliotecas do Python, além os dados e diretórios de entrada e saída.

In [12]:
import os
import requests
import pandas as pd

O workspace de desenvolvimento estará em *santander_cs_scikit*.

In [13]:
workspace_path = 'santander_cs_scikit'
!mkdir -p {workspace_path}

### Download dos dados

**NOTA**: Se você já tiver executado esse notebook, limpe o ambiente antes de continuar:

In [14]:
!rm -rf {workspace_path} && mkdir {workspace_path}

Cria a pasta onde serão armazenados os dados desafio do Santander.

In [15]:
!mkdir {workspace_path}/data

O código abaixo realiza o download dos arquivos de entrada dos dados do Censo dos EUA e armazena localmente em {workspace_path}/data

In [16]:
path = os.path.join(workspace_path, 'data')
url = "https://github.com/savioteles/machine_learning/raw/master/kaggle_santander_customer_satisfaction/data/train.csv.zip"
response = requests.get(url)
name = os.path.basename(url)
with open(os.path.join(path, name), 'w') as f:
    f.write(response.content)

[2018-02-02 19:50:21,959] {connectionpool.py:758} INFO - Starting new HTTPS connection (1): github.com
[2018-02-02 19:50:22,527] {connectionpool.py:758} INFO - Starting new HTTPS connection (1): raw.githubusercontent.com

O arquivo **train.csv.zip** foi copiado para a pasta *data*. Como está comprimido, devemos compactá-lo.

In [17]:
!unzip -o {workspace_path}/data/train.csv.zip -d {workspace_path}/data

Archive:  santander_cs_scikit/data/train.csv.zip
  inflating: santander_cs_scikit/data/train.csv

In [18]:
!ls {workspace_path}/data

train.csv  train.csv.zip

Os dados do csv são lidos e armazenados no dataframe de treinamento **original_data**. A coluna **TARGET** é a coluna a ser predita. Esta coluna tem valor 1 para clientes não satisfeitos e 0 para clientes satisfeitos.

In [19]:
data_path = os.path.join(workspace_path, 'data')
original_data = pd.read_csv(os.path.join(data_path, 'train.csv'))
original_data.head()

,ID,var3,var15,imp_ent_var16_ult1,imp_op_var39_comer_ult1,imp_op_var39_comer_ult3,imp_op_var40_comer_ult1,imp_op_var40_comer_ult3,imp_op_var40_efect_ult1,imp_op_var40_efect_ult3,...,saldo_medio_var33_hace2,saldo_medio_var33_hace3,saldo_medio_var33_ult1,saldo_medio_var33_ult3,saldo_medio_var44_hace2,saldo_medio_var44_hace3,saldo_medio_var44_ult1,saldo_medio_var44_ult3,var38,TARGET
0,1,2,23,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,39205.170000,0
1,3,2,34,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,49278.030000,0
2,4,2,23,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,67333.770000,0
3,8,2,37,0.0,195.0,195.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,64007.970000,0
4,10,2,39,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,117310.979016,0

Os dados foram baixados e inseridos em um Dataframe. Agora é construir o modelo de classificação. **A parte mais divertida ficou para vocês. Have fun!**